@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap");

#letter {
  border-style: solid;
  border-radius: 10px;
  background-color: white;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 29px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  max-width: 430px;
}

#f-a-bt {
  background-color: #fdb953;
  color: black;
  border: 0px;
  border-radius: 4px;
  font-size: 35px;
  font-weight: 900;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 1px 3px 1px gray;
  width: 400px;
  line-height: 50px;
}

#bullet-d {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 30px;
}

#bullet-a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 30px;
}

ul#bullet-d li {
  background-image: url(./img/error-fill.png);
  background-repeat: no-repeat;
  background-position: left center;
}

#f-h2 {
  text-align: center;
  margin-top: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 800;
}

#f-d-bt {
  background-color: rgb(159, 158, 158);
  color: white;
  border: 0px;
  border-radius: 4px;
  font-size: 19px;
  font-weight: 800;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 1px 3px 1px gray;
}

#f-h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 35px;
}

#f-img {
  max-width: 350px;
  width: 350px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 1px gray;
  margin-top: 15px;
}

#top-line {
  line-height: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#top-bar {
  background-color: #e03f45;
  text-align: center;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  padding-left: 45px;
  padding-right: 45px;
}

#bottom {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 18px;
}

#CTA {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

#dl {
  font-size: 14px;
  margin-top: 95px;
}

#bt {
  color: white;
  background-color: #d0021b;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 900;
  width: 430px;
  max-width: 450px;
  line-height: 70px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 12px 1px gray;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

#yt {
  text-align: center;
  font-size: 24px;
  margin-top: 90px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #0d9901;
}

#lh {
  text-align: center;
  color: #e03f45;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -20px;
  margin-right: -20px;
}

#top {
  background-color: #e03f45;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  z-index: 999;
  position: absolute;
  margin-top: 0px;
  padding-top: 1px;
  top: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  line-height: 40px;
}

#welcome {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 280px;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 30px;
}
