body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-11xl: 30px;
  --font-size-9xl: 28px;
  --font-size-15xl: 34px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-orange-100: #fca91e;
  --color-orange-200: #fea41c;
  --color-green: #0d9901;

  /* Paddings */
  --padding-xs: 12px;
  --padding-36xl: 55px;

  /* Border radiuses */
  --br-10xs: 3px;
}
